/coverage
/dist
/build
/src/generated
/node_modules
/yalc.lock
/.yalc

.nx/cache
.nx/workspace-data

# IDE 
.vscode/*
.idea

# Nested Node Modules
/libs/*/build
/libs/*/dist
/libs/*/node_modules
/apps/*/node_modules

storybook-static
