@quartermaster:registry=https://quartermaster.jfrog.io/artifactory/api/npm/quartermaster-npm/
//quartermaster.jfrog.io/artifactory/api/npm/quartermaster-npm/:_authToken=${NPM_TOKEN}

@Quartermaster-Inc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
always-auth=true

