package-manager=pnpm

@quartermaster:registry=https://quartermaster.jfrog.io/artifactory/api/npm/quartermaster-npm/
//quartermaster.jfrog.io/artifactory/api/npm/quartermaster-npm/:_authToken=${NPM_TOKEN}
always-auth=true

node-linker=isolated
auto-install-peers=true
strict-peer-dependencies=false
